

body {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color:rgb(255, 249, 207);
	line-height: 1.4;
	color: #000;
	min-width: 280px;
	overflow-x: hidden;
	height: auto;
}

/* НАВИГАЦИОННАЯ ПАНЕЛЬ */

.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0 ,0, .1) ;
}

/* Полоски под ссылками ссылок */
.top-menu li a::after{
	content: '';
	display: block;
	width: 100%;
	background-color: green;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

/* Полоски под ссылками при наведении */
.top-menu li a:hover::after{
	transform: scale(1);
	opacity: 1;
	color: green;
}

/* Ссылки */
.nav-link {
	display: inline-block;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .2s ease-in-out;
}

/* Ссылки при наведении */
.nav-link:hover {
	opacity: 1;
	color: green;
}

/* Логотип */
.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	transition: all .2s ease-in-out;

}

/* Логотип при наведении */
.navbar-brand:hover {
	color: green;
}

/* Выпадающее меню регистрации */
.btn1 {
	margin-left: 30px;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	background-color: green;
	border-radius: 100px;
	transition: all .2s ease-in-out;
}

.btn1:hover {
	transform: scale(1.04);
	color: white;
	background-color: green;
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА */
section {
	height: 720px;
}

/* Выравнивание кнопки по центру */
.left-section {
	margin: auto;
}

/* Оступ от Навигационной панели (ХЗ КАК ЭТО НОРМАЛЬНО РЕАЛИЗОВАТЬ) */
.section-container {
	padding-top: 12rem;
}

/* Главная кнопка */
.btn {
	margin-left: 30px;
	padding: 10px 30px;
	font-size: 40px;
	color: white;
	text-decoration: none;
	background-color: green;
	border-radius: 100px;
	transition: all .2s ease-in-out;
}

/* Главная кнопка при наведении */
.btn:hover {
	transform: scale(1.04);
	color: white;
	background-color: green;
}

/* Нижняя часть стайта */
footer {
	box-shadow: 4px 0 10px rgba(0, 0 ,0, .1) ;
}



